

.header, .box2 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2-1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-top: 0px;
    padding-left: 30px;
}
.links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    list-style: none;

}

.links li {
    display: inline-block;
    padding-top: 0px;
    padding-right: 30px;
}

.box2-1-left_side-Welcome{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.box2-1-left_side-welcometext{
    font-size: 18px;
    color: #e5e7eb;
}

.box2-1-right-side-box{
    text-align: center;
    color:#F9FAF8;
    width:500px;
    height:200px;
    background-color: gray;
    margin: 0px;
    padding: 0PX;
    line-height: 180px;
}

.Box2-1-left_side-button {
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 5px 15px 5px 15px;
    border-color:#3882F6;
}

.box2-left_side, .box2-1 {
    padding-bottom: 100px;
}

.box2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.box3-Recipes_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px 0px 150px;
}

.box3-Navigation {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}

.box3-Recipes_group-Group-1-image-1,
.box3-Recipes_group-Group-2-image-2,
.box3-Recipes_group-Group-3-image-3,
.box3-Recipes_group-Group-4-image-4{
    border-radius: 10px;
    border: 5px solid #3882F6;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 15px #888888;
    
}

.box3-Recipes_group-Group-1,
.box3-Recipes_group-Group-2,
.box3-Recipes_group-Group-3,
.box3-Recipes_group-Group-4
{
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 35px;
}

.box4 {
    flex-direction: row;
    background-color: #e5e7eb;
    justify-content: center;
    padding: 50px 19%;
}

.box4-2 {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    padding-top: 100px;
}

.box4-3{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row-reverse;

}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    justify-content: center;
}

.box5 {
    display: flex;
    background-color: #3882f6;
    color: #F9faf8;
    justify-content: center;
    gap: 200px;
    margin: 50px 100px 50px 100px;
    align-items: center;
    border-radius: 10px;
    line-height: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-text {
    margin: 0px;
    padding: 0px;
}

.box5-button {
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 5px 15px 5px 15px;
    border-color:#F9FAF8;
}

#boxhover:hover,
#boxhover2:hover,
#boxhover3:hover,
#boxhover4:hover,
.box5-button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.Box2-1-left_side-button:hover {
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}